/***************************** MOBILE FRIENDLY ******************************/
@media screen and (max-width: 700px) {

  /***************************** SCSS STYLING ******************************/
  %background-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green($color: #000000);
    border-radius: 15%;
    opacity: .8;
  }
    html {
      font-size: 80%;
    }

    .contactPageMain {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5%;
    }    
    
    .myTextArea{
        max-width: 60vw;
    }

    .myForm {
        width: 35vh;
    }

    .titlePage {
      @extend %background-boxes
    }
    
    .nonCommentSectionFirst{
        margin: 1em 2em;
        text-align: justify;    
    }

    .contentDivTwo {
      background-image: url('./delivery.jpg');
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .App {
      text-align: center;
    }
    
    .mainContainer {
      display: grid;
      grid-template-columns: 90% 10%;
      grid-template-rows: 7% 93%;
      grid-template-areas: 
        "navBar modeToggle"
        "contentDiv contentDiv"
      ;
      height: 100vh;
      width: 100vw;
    }
    
    .navContainer {
      z-index: 1;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-evenly;
      min-width: 100%;
      margin: 0;
      padding: 0;
      min-height: 7%;
      background: white;
      font-size: 80%;
    }
    
    .nav {
      text-decoration: none;
      color: rgb(29, 76, 114);
      font-size: 1.3em;
    }

    .linkButton {
        text-decoration: none;
        color: black;
        padding-bottom: 2%;
      }
      .recruitmentOverall {
        flex-direction: column;
      }
  
      .myTextAreaRecruitment {
        width: 70vw;
      }
  }
  
  
  @media screen and (max-width: 1089px) {

    .recruitmentOverall {
      flex-direction: column;
    }

    .myTextAreaRecruitment {
      width: 70vw;
    }

    .navContainer{
      min-width: 95%;
      margin: 0;
      padding: 0;
      height: 7%;
    }

    .mainContainer {
      display: grid;
      grid-template-columns: 90% 10%;
      grid-template-rows: 7% 93%;
      grid-template-areas: 
        "navBar modeToggle"
        "contentDiv contentDiv"
      ;
      height: 100vh;
      width: 100vw;
    }

    .modeToggle {
      grid-area: modeToggle;
      height: 100%;
      min-width: 100%;
    }

  }

  @media screen and (max-height: 560px) {

    .recruitmentOverall {
      flex-direction: column;
    }

    .myTextAreaRecruitment {
      width: 70vw;
    }

    .navContainer{
      min-width: 95%;
      margin: 0;
      padding: 0;
      height: 7%;
    }

    .mainContainer {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 7% 93%;
      grid-template-areas: 
        "navBar modeToggle"
        "contentDiv contentDiv"
      ;
      height: 100vh;
      width: 100vw;
    }

    .modeToggle {
      grid-area: modeToggle;
      height: 100%;
      min-width: 100%;
    }

  }
  
  /***************************** MAIN APP STYLING ******************************/
  /***************************** SCSS STYLING ******************************/
  $grey-color: rgb(68, 68, 68);

  %background-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grey-color;
    opacity: .9;
  }

  %center-things {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  %button-class {
    width: 10vw;
    height: 7vh;
    font-size: 1em;
    border-radius: 10%;
  }

  %button-class:hover {
    animation-name: fadeShadow;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Bellota';
  }

  .titlePage {
    @extend %background-boxes;
    padding: 1%;
    font-size: 2em;
    margin-top: 5%;
    max-width: 70vw;
    background-color: white;
    font-family: 'Bellota';
  }

  .nonCommentSectionFirst{
    margin: 1em 2em;
    text-align: justify;
  }

  .modeToggle {
    grid-area: modeToggle;
    background-color: $grey-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sunImage{
    max-height: 5vh;
  }

  .navContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: $grey-color;
    grid-area: navBar;
    color: rgb(173, 173, 173);
    font-family: 'Bellota';
  }

  .mainContainer {
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: 7% 93%;
    grid-template-areas: 
      "navBar modeToggle"
      "contentDiv contentDiv"
    ;
    height: 100vh;
    width: 100vw;
  }

  .mainContainerTitle {
    height: 100vh;
    background-image: url('./delivery.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentDivTwo {
    background-image: url('./delivery.jpg');
    background-size: cover;
    display: flex;
    align-items: start;
    justify-content: center;
    grid-area: contentDiv;
    min-height: 93%;
    min-width: 100%;
  }

  .contentDiv {
    grid-area: contentDiv;
    min-height: 93%;
    min-width: 100%;
    animation-name: changeColorLight;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }

  .contentDivDark {
    grid-area: contentDiv;
    min-height: 93%;
    min-width: 100%;
    animation-name: changeColorDark;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
  
  .nav {
    text-decoration: none;
    color: rgb(173, 173, 173);
    font-size: 1.5em;
    opacity: .8;
  }

  .nav:hover {
    color: rgb(192, 191, 191);
    font-size: 1.52em;
    opacity: 1;
  }
  
  /***************************** HOME APP STYLING ******************************/
  .homeContent {
    @extend %center-things;
    font-family: 'Ubuntu';
    font-size: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
  }

  .homeImages {
    @extend %center-things;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
  }

  .imagesDiv {
    width: 40vw;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  /***************************** testimonials APP STYLING ******************************/
  
  
  /***************************** testimonials APP STYLING ******************************/
  .submitButton {
    position: relative;
    left: 42vw;
  }
  
  
  /***************************** Contact Page Styling ******************************/
  .contactPageMain {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
  }
  
  .myTextArea{
    width: 90vh;
    height: 50vh;
  }
  
  .myForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  /***************************** Recruitment Page Styling ******************************/
  .linkButton {
    text-decoration: none;
    color: black;
    height: 5vh;
    width: 10vw;
  }

  .recruitText {
    color: black;
  }
  
  .recruitmentOverall{
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .pictureRecruitment{
    min-width: 50%;
    min-height: 100%;
    background-image: url('justus-menke-recruit.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .boxMe {
    @extend %background-boxes;
    background-color: rgb(238, 238, 238);
    width: 85%;
    height: 20%;
    font-size: 1.3em;
    opacity: .9;
  }
  
  .recruitmentForm {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    min-width: 50%;
    font-size: 1.5em;
  }
  
  .centerTitle {
    text-align: center;
    font-family: 'Bellota';
  }
  
  .recruitButtonOverall {
    @extend %center-things;
    min-height: 100%;
    min-width: 50%;
    background-color: rgb(238, 238, 238);
  }
  
  .contactButton {
    @extend %button-class;
    font-size: 1.3em;
    border: 2px solid black;
    background-color: white;
  }

  .padThis {
    padding-left: 5%;
  }

  .team {
    font-size: 1.2em;
    background: -webkit-linear-gradient(rgb(146, 145, 145), rgb(20, 19, 19));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  
  .contentDivRecruit {
    min-width: 50%;
    padding-bottom: 2%;
  }

  .inputBars {
    width: 15vw;
    height: 3vh;
  }

  .labels {
    font-size: 1.3em;
  }

  .myTextAreaRecruitment {
    height: 40vh;
    width: 40vw;
  }

  /***************************** Effects ******************************/

  @keyframes fadeShadow {
    0% {
      box-shadow: 0px 0px 0px grey;
    }
    100% {
      box-shadow: 10px 10px 5px grey;
    }
  }

  @keyframes changeColorLight {
    0% {
      background-color: rgb(18, 7, 43);
    }
    100% {
      background-color: rgb(241, 241, 241);
      color: black;
    }
  }

  @keyframes changeColorDark {
    0% {
      background: $grey-color;
    }
    100% {
      background-color: rgb(18, 7, 43);
      color: white;
    }
  }